.add{
  border: 1px solid #6d6d6d;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .upload-img img{
    width: 120px;
  }